
.wrapper {
  font-family: arial;
  color: darkcyan;
}

.container{
  font-family: poppins;
  margin: 5px;
  width: 400px;
  padding: 20px;
  text-align: center;
  margin: 10px 40px;
  font-size: 40px;
  display: flex;
  flex: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
a {
  color: black;

}
.subtitle{
  font-family: cursive;
  font-size: 15px;
}

.item1 {
  background-color: grey;
}