body {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px;
}

.item {
	background-color: #6aaa64;
	margin: 20px;
	width: 400px;
	height: 150px;
	font-size: 100px;
	color: #787c7e;
	font-family: 'Raleway', sans-serif;;
	text-align: center;
	transition: .3s;
}

.item:hover:after {
	content: attr(data-hover);
	letter-spacing: 10px;
	line-height: 130px;
	}

.item:hover {
	background-color: white;
}

.item1 {
	font-size: 40px;
}

.item1:hover:after {
	letter-spacing: 0px;
}