
#yin-yang {
  height:500px;
}

@keyframes yinyangSpin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

@keyframes colorSwap {
  0% {
    fill: default;
  }
  100% {
    fill: #6d79cd;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#yin-yang path, #yin-yang circle {
  animation:  colorSwap 5s ease-in infinite alternate, fade 5s;
}

#yin-yang {
  animation: yinyangSpin 5s ease-out infinite;
  height:500px;
}

#yin-yang:hover {
  animation-play-state: paused;
  cursor: pointer;
}